ul {
  list-style: none;
}
.registration {
  outline: 1px solid brown;
  padding: 50px;
  display: block;
  width: 900px;
  min-height: 200px;
  margin-left: auto;
  margin-right: auto;
  background-color: blanchedalmond;
}
.registration input {
  background-color: transparent;
}
label {
  display: flex;
  flex-direction: column;
}
